<h1>Available Programs/h1>
<p>Here are the programs that you are eligible to apply to<p>

<%@programs.each do |program|%>
<li><%=program.program_name %> <%= program.description %> <b><%=program.school.name%></b></li>
<% end %>