<h1>******* Admissions Director Information Report *******</h1>







<p>Director First Name: <%= @adcom.first_name %></p>
<p>Director Last Name: <%= @adcom.last_name %></p>
<p>Director School: <%= @adcom.school.name %></p>
<p>Director Email: <%= @adcom.user.email %></p>

<h3>Pending Applications </h3>

<h3>Actioned Applications</h3>
