<h1>No Access</h1>


<h4>Why do I have no access?</h4>
<p></p>
<p></p>
<p></p>

<p><h5>I am trying to create a new student</h5></p>
<p>If you are trying to create a new student, you must first remove the current student attached to your user account</p>

