/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .footer {
     height: 50px;
     margin-bottom: -50px;
     position: absolute;
     text-align: left;
     /* padding-bottom: 100px; */
     bottom: 0;
 }
 .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    margin: 4px;
    width: 45%;
    float: left;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid black;
}  